//variables
$light-orange: #F59120;
$dark-orange: #F15A29;
$nav-bg: #39393b;
$nav-text: #797a7d;
$subtitle-text: #a8a8a8;

    body {
      background-image: url('/assets/bg.jpg');
      margin: 0px;
      min-height: 100%;
      font-size: 16px;
    }
    .header {
      padding: 5px 5px 2px 5px;
      // background: url('/assets/header_bg.svg');
      // background-position: center;
      // background-repeat: no-repeat;
      background-color: white;

      img {
        display: block;
        // margin: auto;
      }
    }

    #navbar {
      background-color: $nav-bg;
      padding: 10px;
      text-align: center;
      color: $nav-text;
      font-size: 24px;

      a {
        color: $nav-text;
        font-size: 18px;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;

        &:hover {
          color: #F15A29;
        }
      }
    }

    #footer {
      position: relative;
      text-align: center;
      width: 100%;
      bottom: 0;
      background-color: $nav-bg;

      .social-media{
        padding: 0 5px 0px 5px;

        a svg:hover #facebook {
          fill: #fff;
        }
      }
    }
/*
      const postDiv = document.createElement('div');
      postDiv.className = 'postDiv';
      const imageDiv = document.createElement('div');
      imageDiv.className = 'imageDiv';
      const titleDiv = document.createElement('div');
      titleDiv.className = 'titleDiv';
      const authorDiv = document.createElement('div');
      authorDiv.className = 'authorDiv';
      const utcDiv = document.createElement('div');
      utcDiv.className = 'utcDiv';
      const upVotesDiv = document.createElement('div');
      upVotesDiv.className = 'upVotesDiv';
      const descrDiv = document.createElement('p');
      descrDiv.className = 'descrDiv';
      const contentDiv = document.getElementById('content');
    */

.postDiv {
  margin: 15px auto;
  padding: 15px;
  background-color: white;
  width: 85%;
  border: 5px solid white;

  &:hover {
    border: 5px solid $light-orange;
  }

  .imageDiv {
    margin: auto;
    padding: 5px 0;
    background-color: white;
    display: inline-block;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.titleDiv {
  background-color: white;
  overflow: hidden;
  line-height: 1.8rem;
  max-height: 3.6rem;
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.subtitleDiv {
  background-color: white;
  overflow: hidden;
  padding: 10px 0;
  line-height: 1.2rem;
  max-height: 2.4rem;
  font-size: 18px;
  color: $subtitle-text;
  height: auto;
  font-family: 'Lato', sans-serif;
}

.descrContainer {
  overflow: hidden;

  background-color: white;

  .descrP {
    overflow: hidden;
    line-height: 1.2rem;
    max-height: 4.8rem;
    background-color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
}



// Mixins
// @mixin block_font($block_font_size: 25px, $block_font_color: $dark){
//   font-size: $block_font_size;
//   color: $block_font_color;
// }

// h1, h2, h3, h4{


// }

// h1{

// }

// h2{


// }



// // Media Query Ranges
// @media screen and (min-width: 600px){

// }

// @media screen and (min-width: 900px){

// }