body {
  background-image: url("/assets/bg.jpg");
  margin: 0px;
  min-height: 100%;
  font-size: 16px; }

.header {
  padding: 5px 5px 2px 5px;
  background-color: white; }
  .header img {
    display: block; }

#navbar {
  background-color: #39393b;
  padding: 10px;
  text-align: center;
  color: #797a7d;
  font-size: 24px; }
  #navbar a {
    color: #797a7d;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif; }
    #navbar a:hover {
      color: #F15A29; }

#footer {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: #39393b; }
  #footer .social-media {
    padding: 0 5px 0px 5px; }
    #footer .social-media a svg:hover #facebook {
      fill: #fff; }

/*
      const postDiv = document.createElement('div');
      postDiv.className = 'postDiv';
      const imageDiv = document.createElement('div');
      imageDiv.className = 'imageDiv';
      const titleDiv = document.createElement('div');
      titleDiv.className = 'titleDiv';
      const authorDiv = document.createElement('div');
      authorDiv.className = 'authorDiv';
      const utcDiv = document.createElement('div');
      utcDiv.className = 'utcDiv';
      const upVotesDiv = document.createElement('div');
      upVotesDiv.className = 'upVotesDiv';
      const descrDiv = document.createElement('p');
      descrDiv.className = 'descrDiv';
      const contentDiv = document.getElementById('content');
    */
.postDiv {
  margin: 15px auto;
  padding: 15px;
  background-color: white;
  width: 85%;
  border: 5px solid white; }
  .postDiv:hover {
    border: 5px solid #F59120; }
  .postDiv .imageDiv {
    margin: auto;
    padding: 5px 0;
    background-color: white;
    display: inline-block; }
    .postDiv .imageDiv img {
      max-height: 100%;
      max-width: 100%; }

.titleDiv {
  background-color: white;
  overflow: hidden;
  line-height: 1.8rem;
  max-height: 3.6rem;
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 24px; }

.subtitleDiv {
  background-color: white;
  overflow: hidden;
  padding: 10px 0;
  line-height: 1.2rem;
  max-height: 2.4rem;
  font-size: 18px;
  color: #a8a8a8;
  height: auto;
  font-family: 'Lato', sans-serif; }

.descrContainer {
  overflow: hidden;
  background-color: white; }
  .descrContainer .descrP {
    overflow: hidden;
    line-height: 1.2rem;
    max-height: 4.8rem;
    background-color: white;
    margin: 0;
    font-family: 'Lato', sans-serif; }
